parameters:
    summary_table_filename: null
    example_argument_string: null
    example_argument_int: null
    example_argument_float: null
    example_argument_empty: "Not null string"
    example_argument_bool: null
stage_in:
    stac_json: 
      class: File
      path: "cmr_results.json"
    download_type: DAAC
    edl_username: "base64.standard_b64encode(username)"
    edl_password: "base64.standard_b64encode(password)"
    edl_password_type: BASE64
    unity_client_id: ""
    unity_stac_auth: ""
stage_out:  # Anonymous record type.
    collection_id: null
    staging_bucket: null
    aws_region: us-west-2
    aws_session_token: null
    aws_secret_access_key: null
    aws_access_key_id: null
